<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yenepaySDK.mobsdk"
    android:versionCode="1"
    android:versionName="1.0">

    <!--
        <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="24" />
    -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity android:name="com.yenepaySDK.handlers.ReturnListenerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${yenepayReturnScheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yenepaySDK.handlers.PaymentHandlerActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>